<!DOCTYPE html>
<html>
  <head>
    <title>Vitor Schapiéski</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div class="name">
      <span class="letra">V</span>
      <span class="letra">I</span>
      <span class="letra">T</span>
      <span class="letra">O</span>
      <span class="letra">R</span>
      <br>
      <span class="letra">S</span>
      <span class="letra">C</span>
      <span class="letra">H</span>
      <span class="letra">A</span>
      <span class="letra">P</span>
      <span class="letra">I</span>
      <span class="letra">É</span>
      <span class="letra">S</span>
      <span class="letra">K</span>
      <span class="letra">I</span>
    </div>
   
    <nav>
      <a href="#m-aboutMe"><button>aboutMe</button></a>
      <a href="#m-myNetworks"><button>myNetworks</button></a>
    </nav>
    
    <div id="m-aboutMe" class="m-aboutMe modal">
      
      <div class="modal1 page">
        <h1 class="modalTitle">aboutMe</h1>
        <p class="modalP">I love camelCase, I think it's visibly the tastiest way to organize texts - does this information matter? lol</p>
        <p class="modalP">I'm crazy about technology! I found my profession a little late, because the intention of programming didn't fit in my head as work, because creating websites was just moments of pleasure!
        I love chatting with friends, making new lines of contact. Smiling is very good.
        I'm currently 26, I'm a process buff and I love to break a big step into small phases, checking what I've already done is an asmr.</p>
        <p class="modalP">

        </p><p class="modalP">Seriously though, I have great photoshop skills, a lot, I know how to use its resources very well, and I learned everything myself (I never took classes). I study a lot of html, css and javascript, currently I intend to focus on this single language, because I intend to master it very well, penetrate perfectly into my work what comes out of my head, I want to get to the point that my work with JS reflects my imagination!
        I'm addicted to creating login systems, both the backend and the frontend, seeing the codes combine, like a game of pieces that complete each other in full harmony. This is amazing in my eyes!
        Learn more about me in the other window, myNetworks!</p>

        <a href="" class="modalLink">X  close</a>

      </div>

    </div>

    <div id="m-myNetworks" class="m-myNetworks modal">
      
      <div class="modal2 page">
        <h1 class="modalTitle">myNetworks</h1>
        <p class="modalP">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In deserunt neque laudantium. Expedita dolore ratione, temporibus dicta esse tenetur, at vel quasi officiis atque placeat aperiam quam? Possimus, nulla excepturi?</p>

        <a href="" class="modalLink">X  close</a>

      </div>

    </div>

  </body>
</html>
