<!DOCTYPE html>
<html>
  <head>
    <title>Vitor Schapiéski</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div class="name">
      <span class="letra">V</span>
      <span class="letra">I</span>
      <span class="letra">T</span>
      <span class="letra">O</span>
      <span class="letra">R</span>
      <br>
      <span class="letra">S</span>
      <span class="letra">C</span>
      <span class="letra">H</span>
      <span class="letra">A</span>
      <span class="letra">P</span>
      <span class="letra">I</span>
      <span class="letra">É</span>
      <span class="letra">S</span>
      <span class="letra">K</span>
      <span class="letra">I</span>
    </div>
   
    <nav>
      <a href="#m-aboutMe"><button>About me</button></a>
      <a href="#m-myNetworks"><button>My networks</button></a>
    </nav>
    
    <div id="m-aboutMe" class="m-aboutMe modal">
      
      <div class="modal1 page">
        <h1 class="modalTitle">aboutMe</h1>
        <p class="modalP">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In deserunt neque laudantium. Expedita dolore ratione, temporibus dicta esse tenetur, at vel quasi officiis atque placeat aperiam quam? Possimus, nulla excepturi?</p>
        <p class="modalP">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In deserunt neque laudantium. Expedita dolore ratione, temporibus dicta esse tenetur, at vel quasi officiis atque placeat aperiam quam? Possimus, nulla excepturi?</p>
        <p class="modalP">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In deserunt neque laudantium. Expedita dolore ratione, temporibus dicta esse tenetur, at vel quasi officiis atque placeat aperiam quam? Possimus, nulla excepturi?</p><p class="modalP">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In deserunt neque laudantium. Expedita dolore ratione, temporibus dicta esse tenetur, at vel quasi officiis atque placeat aperiam quam? Possimus, nulla excepturi?</p>

        <a href="" class="modalLink">X  close</a>

      </div>

    </div>

    <div id="m-myNetworks" class="m-myNetworks modal">
      
      <div class="modal2 page">
        <h1 class="modalTitle">myNetworks</h1>
        <p class="modalP">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In deserunt neque laudantium. Expedita dolore ratione, temporibus dicta esse tenetur, at vel quasi officiis atque placeat aperiam quam? Possimus, nulla excepturi?</p>

        <a href="" class="modalLink">X  close</a>

      </div>

    </div>

  </body>
</html>
